.mainContainer {
  padding: 10px;
  font-family: "Playfair Display", serif;
}

.mapContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.chartContainer,
.buttonContainer {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  align-items: stretch;
  justify-content: space-evenly;
  padding-top: 35px;
}

/* .buttonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 100%;
  padding-top: 20px;
} */

.button:hover,
.button {
  border: 1px solid #454839;
  /* border: 1px solid #aaad9b; */
  background: #717c48;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 8px;
  justify-content: space-between;
}

.defaultMessage {
  display: flex;
  justify-content: center;
}
